header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    60deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(37, 37, 37, 1) 50%,
    rgba(37, 37, 37, 1) 100%
  );
  display: grid;
  grid-template: auto 1fr / 1fr;
  width: 100vw;
  height: 100vh;
}

nav {
  .logo {
    margin-right: auto;

    img {
      @include imgWrapper(contain, 60px, 100%);
    }
  }

  .menu__desktop {
    display: flex;
  }

  .menu__mobile {
    text-align: right;
    padding: 0;
    grid-column: span 2;
    display: none;

    li {
      margin: 1em;
    }
  }

  a {
    @include aDeco(900, white);
  }
}

.header__content {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;

  @media (max-width: 700px) {
    justify-content: center;
  }

  h1 {
    font-size: 4vw;
    padding-left: 3em;

    @media (max-width: 700px) {
      font-size: 6vw;
      padding: unset;
      text-align: center;
    }
  }
}

.hidden {
  display: none;
}
