header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    60deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(47, 47, 47, 0.5) 50%,
    rgba(37, 37, 37, 0.5) 100%
  );
  display: grid;
  grid-template: auto 1fr / 1fr;
  width: 100vw;
  height: 100vh;

  @media (max-width: 900px) {
    background-size: cover;
  }

  @media (max-width: 500px) {
    background: url(../images/headerpicmobile.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

nav {
  .logo {
    margin-right: auto;

    img {
      @include imgWrapper(contain, 60px, 100%);
      margin-right: auto;
    }
  }

  .menu__desktop {
    display: flex;
  }

  .menu__mobile {
    text-align: right;
    padding: 0;
    grid-column: span 2;
    display: none;

    li {
      margin: 1em;
    }
  }

  a {
    @include aDeco(900, white);
  }
}

.header__content {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;

  @media (max-width: 700px) {
    justify-content: center;
  }

  h1 {
    font-size: 3.5vw;
    padding-left: 3em;
    z-index: 2;
    text-shadow: 2px 2px 2px black;

    @media (max-width: 700px) {
      font-size: 6vw;
      padding: unset;
      text-align: center;
    }
  }
}

.elevator {
  height: 120vh;
  width: 300px;
  position: fixed;
  right: 10vw;
  top: 5vh;
  background: #00000011;
  overflow: hidden;
  display: flex;
  align-items: center;

  @media (max-width: 1000px) {
    display: none;
  }

  &__strings {
    height: 120vh;
    width: 10px;
    background: rgba(211, 211, 211, 0.425);
    margin: auto;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.281);
  }

  &__container {
    height: 400px;
    width: 100%;
    background: url(../images/elevator.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(168, 168, 168, 0.329);
    border-top: 10px solid rgb(47, 47, 47);
    border-bottom: 10px solid rgb(47, 47, 47);
    cursor: pointer;
  }

  &__door {
    height: calc(400px - 20px);
    width: 50%;
    background: rgb(65, 65, 65);
    background: linear-gradient(
      90deg,
      rgb(31, 31, 31) 0%,
      rgb(93, 93, 93) 48%,
      rgb(34, 34, 34) 100%
    );
    position: relative;
    z-index: 1;
    float: left;
    transform: translateX(0);
    transition: all 3s ease-out;
    transition-delay: 4s;
  }

  .door__left {
    animation: openLeftDoor forwards;
    animation-delay: 500ms;
    animation-duration: 5000ms;
  }

  .door__right {
    animation: openRightDoor forwards;
    animation-delay: 500ms;
    animation-duration: 5000ms;
  }
}

.hidden {
  display: none;
}
