@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./styles/extra";
@import "./styles/header";
@import "./styles/about_us";
@import "./styles/services";
@import "./styles/contact";
@import "./styles/contact_form";
@import "./styles/footer";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: url(./images/headerpic.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Poppins", sans-serif;
  min-width: 300px;
}
